#reset-password p {
    position: relative;
}

#password-icon {
    top: 20px;
}

#password_policy.section {
    color: #ddd;
    padding: 15px;
}

#password_policy ul {
    list-style-type: inherit;
    text-align: left;
}
